<?xml version="1.0" encoding="utf-8" ?>
<module id="haxeui-theme-retro-block">
    <resources>
        <resource path="/haxe/ui/themes/retro_block/_module/styles" prefix="haxeui-retro-block/styles" />
    </resources>
    
    <themes>
        <retro-block parent="default">
            <style resource="haxeui-retro-block/styles/main.css" />
            <style resource="haxeui-retro-block/styles/buttons.css" />
            <style resource="haxeui-retro-block/styles/checkboxes.css" />
            <style resource="haxeui-retro-block/styles/textfields.css" />
            <style resource="haxeui-retro-block/styles/steppers.css" />
            <style resource="haxeui-retro-block/styles/dropdowns.css" />
            <style resource="haxeui-retro-block/styles/ranges.css" />
            <style resource="haxeui-retro-block/styles/scrolls.css" />
            <style resource="haxeui-retro-block/styles/tabs.css" />
            <style resource="haxeui-retro-block/styles/dialogs.css" />
            <style resource="haxeui-retro-block/styles/propertygrids.css" />
            <style resource="haxeui-retro-block/styles/menus.css" />
            <style resource="haxeui-retro-block/styles/listviews.css" />
            <style resource="haxeui-retro-block/styles/tableviews.css" />
            <style resource="haxeui-retro-block/styles/frames.css" />
        </retro-block>
    </themes>
</module>