.label, .button {
    color: black;
    font-name: "haxeui-retro-block/styles/fonts/nokiafc22.ttf";
    font-size: 8px;
}

.textfield, .textarea {
    font-name: "haxeui-retro-block/styles/fonts/nokiafc22.ttf";
    font-size: 8px;
}

.tooltip {
    border: 1px solid black;
}